.main-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.main-menu__bar {
  height: 58px;
  background-color: white;
  flex-basis: 100%;
  position: relative;
}
.main-menu__logo {
  margin: 0 auto;
  display: block;
  width: 150px;
  height: 75px;
  background: url(../img/main-logo.png) no-repeat 50% 0%;
}
.main-menu__burger {
  position: absolute;
  height: 58px;
  width: 65px;
  background: transparent url(../img/main-menu-burger.png) no-repeat 50% 50%;
  top: 0;
  right: 0;
}
.main-menu__cross {
  position: absolute;
  height: 58px;
  width: 65px;
  background: transparent url(../img/main-menu-cross.png) no-repeat 50% 50%;
  top: 0;
  right: 0;
}
.main-menu__link {
  height: 58px;
  display: block;
  flex-basis: 100%;
  padding-top: 16px;
  background-color: #81b3d2;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #5b9cc5;
  border-top: 1px solid #a7cadf;
  display: none;
}
@media (min-width: 768px) {
  .main-menu__cross {
    display: none;
  }
  .main-menu__burger {
    display: none;
  }
  .main-menu__link {
    padding-top: 20px;
    display: block;
    flex-basis: 20%;
    color: #000;
    background-color: white;
    border: none;
    font-size: 14px;
  }
  .main-menu__link:nth-child(3) {
    order: 1;
  }
  .main-menu__link:nth-child(4) {
    order: 1;
  }
  .main-menu__bar {
    flex-basis: 20%;
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.main-container {
  margin: 0 auto;
}
